<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="/css/partials.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <!--<link rel="stylesheet" type="text/css" href="/css/styles.css">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->
            <script src="https://kit.fontawesome.com/81a58fefb2.js" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="/src/partials.js"></script>

            <title>
                <%- title %>
            </title>
        </head>
        <body onload="adjust_partials()">
            <%- include('./partials/header.ejs') %>
            <%- include('./partials/navbar.ejs') %>
            <%- body %>
            <%- include('./partials/footer.ejs') %>
            <!--<div id="container">
                
            </div>-->
            
        </body>
    </html>